/* Сторінка "Про нас" */
.info {
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* зраження про нас */
.info img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* контакти про нас */
.contact {
    width: 100%;
    background: #ffb0a6; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info h2, .contact h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.info p, .contact p {
    font-size: 18px;
    margin-bottom: 10px;
}